*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0,0,0,0.8);
    backdrop-filter:blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    
}
.logo:hover{  
    color: orangered;
    text-shadow: 0 0 25px  orangered,
                 0 0 50px  orangered;
    transition: scale(1.1);
    
}
span{
    color: orangered;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid orangered;
    transition: 0.3s ease;
}.navbar a:hover,
.navbar a.active{
    color: orangered;
    border-bottom: 3px solid orangered;
}.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}


/*body*/
	
		.product-a{
			height:300px;
               width:300px;
              display:inline-block;
			box-shadow: 5px 5px 10px gray;
			margin-top: 5px;
			
		}
		#product-1{
			margin-left: 25%;
			
		}
		#product-2{
			margin-left: 10px;
		}
		#product-3{
			margin-left: 500px;
			margin-top: 5px;
		}
	
		
		.product-card{
			height:420px;
	
			display: grid;
				 grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows:  300px 120px;
	
		}
		
		.product-3{
			box-shadow: 5px 5px 10px gray;
		}
		h1{
		 font-weight: bold;
			
		}
		.product-4{
			margin-left: 50px;
			font-weight: bold;
			margin-top: 15px;
		}
		button{
			height:40px;
			width:100px;
			background-color: hotpink;
        	color:white;
            border-radius:20px;
			border:2px solid hotpink;
			margin:10px;
			margin-left: 15px;
		}
		button:hover{
			background-color: white;
			color:hotpink;
			font-weight: bold;
			
		}
        #summer{
            font-family: cursive;
            font-size: 25px;
            color: black;
        font-weight: bold;
        }
		
/*body*/	   


/*Footer*/
 #bg{
        @import
     url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        body{
          line-height: 1.5;
          font-family: 'Poppins', sans-serif;
        }
        *{
          margin:0;
          padding:0;
          box-sizing: border-box;
        }
        .container{
          max-width: 1170px;
          margin:auto;
        }
        .row{
          display: flex;
          flex-wrap: wrap;
        }
        ul{
          list-style: none;
        }
        .footer{
          background-color: #24262b;
            padding: 70px 0;
        }
        .footer-col{
           width: 25%;
           padding: 0 15px;
        }
        .footer-col h4{
          font-size: 18px;
          color: #ffffff;
          text-transform: capitalize;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
        }
        .footer-col h4::before{
          content: '';
          position: absolute;
          left:0;
          bottom: -10px;
          background-color: #e91e63;
          height: 2px;
          box-sizing: border-box;
          width: 50px;
        }
        .footer-col ul li:not(:last-child){
          margin-bottom: 10px;
        }
        .footer-col ul li a{
          font-size: 16px;
          text-transform: capitalize;
          color: #ffffff;
          text-decoration: none;
          font-weight: 300;
          color: #bbbbbb;
          display: block;
          transition: all 0.3s ease;
        }
        .footer-col ul li a:hover{
          color: #ffffff;
          padding-left: 8px;
        }
        .footer-col .social-links a{
          display: inline-block;
          height: 40px;
          width: 40px;
          background-color: rgba(255,255,255,0.2);
          margin:0 10px 10px 0;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          color: #ffffff;
          transition: all 0.5s ease;
        }
        .footer-col .social-links a:hover{
          color: #24262b;
          background-color: #ffffff;
        }
        
        /*responsive*/
        @media(max-width: 767px){
          .footer-col{
            width: 50%;
            margin-bottom: 30px;
        }
        }
        @media(max-width: 574px){
          .footer-col{
            width: 100%;
        }
        }
        
    }

/*Footer*/